sup {
                    color: #ff0000;
                }
	.certificate{ background:url(certificate_bg.jpg) center top no-repeat !important; width:100%; min-height:600px; height:100%; margin:10px auto; padding:35px; position:relative;}
	.certificate .header{ height:100px; background:none; margin-bottom:10px;}
	.certificate .header .logo-left{background:url(emblame_certificate.png) no-repeat !important; width:100px; height:100px;}
	.certificate .header .logo-right{background:url(resources/admitcard/images/logoright_certificat.png) no-repeat !important; width:53px; height:91px;}
	.certificate .header h1{text-align:center; color:#111112; font-size:20px; font-weight:700; margin:0;}
	.certificate .header h2{text-align:center; color:#adadad; font-size:16px; display:inherit; text-transform:none; margin:0; line-height:inherit;}
	.certificate .header h3{text-align:center; color:#eb1919; font-style:italic; font-weight:700; font-size:14px;}
	.certificate .form{}
	.certificate .certificate-content{}
	.certificate .certificate-content h2{color:#606060; font-size:14px; width:96%; font-weight:700;  margin:10px 0 10px 20px; border-bottom:1px solid #848484; clear:both;}
	.certificate .certificate-content input.form-control{border:none; background:none; font-size:13px;}
	.certificate .certificate-content input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0e0e0e; font-weight:600;
}
	.certificate .certificate-content input::-moz-placeholder { /* Firefox 19+ */
  color:#0e0e0e; font-weight:600;
}
	.certificate .certificate-content input:-ms-input-placeholder { /* IE 10+ */
  color:#0e0e0e; font-weight:600;
}
	.certificate .certificate-content input:-moz-placeholder { /* Firefox 18- */
  color:#0e0e0e; font-weight:600;
}
	.certificate .certificate-content input.disabled{ border:none; cursor:not-allowed;}
	
	.certificate .footer{background:none; border-top:1px solid #3a3a3a; padding:20px; margin-top:20px; font-size:13px;}
	.certificate .footer p{padding-top:20px;}
@media print {
	body{padding:0 !important; margin:0 !important; }
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
      .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
           float: left;               
      }

      .col-sm-12 {
           width: 100%;
      }

      .col-sm-11 {
           width: 91.66666666666666%;
      }

      .col-sm-10 {
           width: 83.33333333333334%;
      }

      .col-sm-9 {
            width: 75%;
      }

      .col-sm-8 {
            width: 66.66666666666666%;
      }

       .col-sm-7 {
            width: 58.333333333333336%;
       }

       .col-sm-6 {
            width: 50%;
       }

       .col-sm-5 {
            width: 41.66666666666667%;
       }

       .col-sm-4 {
            width: 33.33333333333333%;
       }

       .col-sm-3 {
            width: 25%;
       }

       .col-sm-2 {
              width: 16.666666666666664%;
       }

       .col-sm-1 {
              width: 8.333333333333332%;
        }  
		
		 .make-grid(sm);

    .visible-xs {
        .responsive-invisibility();
    }

    .hidden-xs {
        .responsive-visibility();
    }

    .hidden-xs.hidden-print {
        .responsive-invisibility();
    }

    .hidden-sm {
        .responsive-invisibility();
    }

    .visible-sm {
        .responsive-visibility();
    } 
	* {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important;  /*Firefox*/
  }  
  .certificate{width:100% !important; padding:35px 50px;} 
  .certificate .footer p{padding-top:30px !important;}
  .certificate .certificate-content h2{font-size:14px;}     
}